*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aliceblue;
    
}

h1{
    background-color: #0a2c53 ;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #0a2c53;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 3rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}
.score-board1{
    display: flex;
    font-size: 2rem;
    justify-content: end;
    gap: 2rem;
    margin-right: 10px;
    margin-top: 10px;
}
.score1{
    background-color: coral;
    padding: 10px;
    border-radius: 1rem;
}

#Attempts, #draw-score{
    background-color: coral;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #0a2c53;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
